@{
  Layout = "_Layout";
}
@model Factory.Models.Engineer
@using Factory.Models

<h1> Edit Engineer: @Model.Name </h1>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.LabelFor(model => model.Department)
  @Html.EditorFor(model => model.Department)

  @Html.Label("Select a Machine")
  @Html.DropDownList("MachineId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back - Show all Engineers", "Index")</p>